/* Grid Bootstrap */


.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.pd-0 {
    padding: 0;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mt-25 {
    margin-top: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mt-35 {
    margin-top: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mt-45 {
    margin-top: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-55 {
    margin-bottom: 55px;
}

.mt-55 {
    margin-top: 55px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-65 {
    margin-bottom: 65px;
}

.mt-65 {
    margin-top: 65px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mt-70 {
    margin-top: 70px;
}

.mb-75 {
    margin-bottom: 75px;
}

.mt-75 {
    margin-top: 75px;
}



a[disabled], input[disabled], button[disabled], textarea[disabled] {
    cursor: not-allowed !important;
    opacity: .5 !important;
}

a:focus, input:focus, button:focus, textarea:focus {
    outline: none;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

.page-wrap {
    overflow: hidden;
}

.md-section {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 9;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: 320px) {
    .md-section {
        padding-top: calc(6.81818vw + 28.18182px);
        padding-bottom: calc(6.81818vw + 28.18182px);
    }
}

@media (min-width: 1200px) {
    .md-section {
        padding-top: 110px;
        padding-bottom: 110px;
    }
}

.md-text-left, .text-left {
    text-align: left !important;
}

.md-text-center, .text-center {
    text-align: center !important;
}

.md-text-right, .text-right {
    text-align: right !important;
}

.md-text-underline {
    text-decoration: underline !important;
}

.md-round {
    border-radius: 5px !important;
}

.md-pill {
    border-radius: 50% !important;
}

.md-tb {
    display: table;
    width: 100%;
    height: 100%;
}

.md-tb__cell {
    display: table-cell;
    vertical-align: middle;
}

.md-overlay, [data-gradient-bg] > canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.md-overlay {
    background-color: rgba(0, 0, 0, .4);
}

.bg-fixed {
    background-attachment: fixed;
}

.md-bg-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.full {
    width: 100%;
    height: 100vh;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive.embed-responsive-4by3 {
    padding-bottom: 75%;
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive .embed-responsive-item, .embed-responsive iframe,
.embed-responsive embed, .embed-responsive object {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* table Responsive */

.table-responsive-01 {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

.table-responsive-01 table > thead > tr > th,
.table-responsive-01 table > thead > tr > td,
.table-responsive-01 table > tbody > tr > th,
.table-responsive-01 table > tbody > tr > td,
.table-responsive-01 table > tfoot > tr > th,
.table-responsive-01 table > tfoot > tr > td {
    white-space: nowrap;
}

@media (max-width: 991px) {
    .table-responsive-02 table, .table-responsive-02 thead,
    .table-responsive-02 tbody, .table-responsive-02 th, .table-responsive-02 td,
    .table-responsive-02 tr {
        display: block;
    }

    .table-responsive-02 thead {
        border-top: 1px solid #e8e8e8 !important;
        border-bottom: none !important;
    }

    .table-responsive-02 thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-responsive-02 tr {
        padding: 15px 0;
        border-left: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
    }

    .table-responsive-02 td {
        position: relative;
        padding: 15px 10px 15px 30% !important;
    }

    .table-responsive-02 td:before {
        content: attr(data-th);
        position: absolute;
        top: 15px;
        left: 20px;
        width: 25%;
        padding-right: 10px;
    }
}
a {
    color: #19c2c9;
}

a:hover {
    text-decoration: none;
    color: #19c2c9;
}

a:focus {
    text-decoration: none;
}

::-moz-selection {
    color: #fff;
    background-color: #333;
}

::selection {
    color: #fff;
    background-color: #333;
}

.md-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: 320px) {
    .md-section {
        padding-top: calc(11.36364vw + 13.63636px);
        padding-bottom: calc(11.36364vw + 13.63636px);
    }
}

@media (min-width: 1200px) {
    .md-section {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #dfdfdf;
}

.page-wrap {
    position: relative;
}

/* PopUp */

.mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    padding-right: 0;
    right: 0;
    opacity: 1;
}

.mfp-close:active {
    top: 0;
}

.mfp-iframe-holder .mfp-close:active {
    top: -40px;
}

.mfp-zoom-in .mfp-content {
    opacity: 0;
    transition: all .4s cubic-bezier(.18, .89, .32, 1.27);
    -webkit-transform: scale(.8);
            transform: scale(.8);
}

.mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: all .3s ease-out;
}

.mfp-zoom-in.mfp-ready .mfp-content {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
}

.mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: .8;
}

.mfp-zoom-in.mfp-removing .mfp-content {
    -webkit-transform: scale(.8);
            transform: scale(.8);
    opacity: 0;
    transition: all .4s cubic-bezier(.18, .89, .32, 1.27);
}

.mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;


}

/* Font size */ 
.f-subtitle {
    font-size: 22px;
    font-weight: 300;
}

.fz-16 {
    font-size: 16px;
}

.bg-gray {
    background-color: #f5f5f5;
}

/* Grid Bootstrap */
.no-gutters {
    margin: 0;
}

.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

/* Layout */

.main-content, .sidebar-left, .sidebar-right {
    margin-bottom: 40px;
}

.sidebar-left .form-item--button .select2-container--default .select2-selection--single .select2-selection__arrow,
.sidebar-right .form-item--button .select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 25px;
    border-left: 0;
}

.sidebar-left .form-item--button .md-btn,
.sidebar-right .form-item--button .md-btn {
    padding-left: 20px;
    padding-right: 20px;
}